<header class="menu-header">
  <a href="/" class="logo">Liber</a>
  <% if (locals.session && session.loggedIn) { %>
    <div class="header-right">
      <a href="/users/logout">Sair</a>
    </div>
  <% } else { %>
    <div class="header-right">
        <a class="active" href="">Home</a>
        <a href="">Quem Somos</a>
        <a href="">Fale Conosco</a>
    </div>
  <% } %>
</header>
