<header class="menu-header">
  <a href="/" class="logo">Liber</a>
  <% if (locals.session && session.loggedIn) { %>
    <div class="header-right">
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
    </div>
  <% } else { %>
    <div class="header-right">
        <a class="<%= locals.active === "login" && "active" %>" href="/users/login">Login</a>
        <a class="<%= locals.active === "signup" && "active" %>" href="/users/signup">Cadastre-se</a>
    </div>
  <% } %>
</header>
