<header class="menu-header">
  <a href="/" class="logo">Liber</a>
  <% if (locals.session && session.loggedIn) { %>
    <div class="header-right">
      <a href="/users/logout">Sair</a>
    </div>
  <% } else { %>
    <div class="header-right">
        <a class="<%= locals.active === "login" && "active" %>" href="/users/login">Login</a>
        <a class="<%= locals.active === "signup" && "active" %>" href="/users/signup">Cadastre-se</a>
    </div>
  <% } %>
</header>
