<input type="checkbox" id="check" checked>
<div class="right_sidebar">
  <center>
    <img src="/images/prof-pic.jpg" alt="" class="profile_image">
    <h4><%= session.name %></h4>
  </center>
  <a href="/users/profile/<%= session.userId %>"><i class="fas fa-user"></i><span>Meu Perfil</span></a>
  <a href="/users/logout"><i class="fas fa-door-open"></i><span>Sair</span></a>
  <a class="delete_text" href="/users/delete"><i class="fa-solid fa-trash"></i><span>Excluir conta</span></a>
</div>
