<div class="center_form">
  <h1>Redefina sua senha</h1>
  <form action="/users/forgot-password" method="POST">
    <div class="txt_field">
      <input type="text" name="email" value="<%= (locals.user && user.email != null) ? user.email : "" %>" required>
      <span></span>
      <label>Email</label>
    </div>
    <p class="error_msg"><%= locals.errors && errors.email.msg %></p>

    <button type="submit">Redefinir</button>
    <p class="error_msg error_msg_centered"><%= locals.loginMsg && loginMsg %></p>
    <p class="email_success_msg error_msg_centered"><%= locals.emailMsg && emailMsg %></p>
  </form>
</div>
