<div>
  <h1>Login</h1>
  <form action="/users/login" method="POST">
    <input type="email" name="email" placeholder="Insira seu email">
    <input type="password" name="password" placeholder="Insira sua senha">
    <button type="submit">Enviar</button>
  </form>
</div>
