<div class="center_form">
  <h1>Entrar</h1>
  <form action="/users/login" method="POST">
    <div class="txt_field">
      <input type="text" name="email" required>
      <span></span>
      <label>Email</label>
    </div>
    <p class="error_msg"><%= locals.errors && errors.email.msg %></p>

    <div class="txt_field">
      <input type="password" name="password" required>
      <span></span>
      <label>Senha</label>
    </div>

    <button type="submit">Entrar</button>
    <p class="error_msg error_msg_centered"><%= locals.loginMsg && loginMsg %></p>

    <div class="signup_link">
      Não é um membro?&nbsp;&nbsp;<a href="#">Cadastre-se</a>
    </div>
  </form>
</div>
