<div class="container">
  <div class="main_content">
    <h2>Livros</h2>
    <% locals.users.booksResult.forEach(element => { %>
      <%- include("./partials/bookCard.ejs", {element: element}) %>
    <% }) %>
  </div>
  
  <div class="side_content">
    <h2>Outros Usuários</h2>
    <% locals.users.usersResult.forEach(element => { %>
      <% if (element.userid !== locals.session.userId) { %>
        <%- include("./partials/userCard.ejs", {element: element}) %>
      <% } %>
    <% }) %>
  </div>
  
  <%- include("./partials/sidebar.ejs") %>
</div>
